<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet"
     href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<style>
    .design {
        text-align: center;
        width: 1000px;
    }
    .under-nav {
        margin-top: 50px;
    }
    .copyright-footer{
        position: fixed;
        bottom: 0;
        color: white;
        width: 100%;
        background-color: #343a40;
        line-height: 3;
        text-align: center;
    }
</style>
<body>
    <div>
        <nav class="navbar navbar-dark bg-dark">
            <div class="d-flex justify-content-center">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">muaaz_113697</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Ayat_109183</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Muohamad_maher_115106</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Leen_108102</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Our Group Number is: 9997</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Supervising Doctor: Bassel Mustaffa alkhatib</a>
                        </li>
                    </ul>
            </div>
        </nav>
    </div>
    <center>
        <form action="/test2" method="post" class="design under-nav">
            {% csrf_token %}
            <div class="form-group">
               <h3><label for=""> Enter the equation whose variables you want to calculate </label></h3>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">f(x)=</div>
                      </div>
                    <input name="fun" class="form-control" placeholder="10*x+15*y+20*z" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label>
                    
                <h4>Please enter the restrictions you want:</h4>
                </label>
                <div class="input-group">
                    <input class="form-control" placeholder="4x+2y<=400" type="text" name="first_restr" required>
                </div>
            </div>
            <div class="form-group" id="add_rest">
        
            </div>
            <div class="form-group ">
                <button type="button" class="btn btn-primary btn-block" onclick="add()"> Add new restrictions </button>
                <br>
                <button type="submit" class="btn btn-primary btn"> Submit </button>
            </div>
        </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

<script>
    i = 0;

    function add() {
        i++;
        // document.getElementById('add_rest').innerHTML += '<div id="new' + i + '"> <hr><label class="mt-3">Enter new restrictions </label><span class="float-right mb-1 mt-1 btn btn-danger" onclick=delet("new' + i + '")>X</span> <div class = "input-group" ><input class = "form-control" type = "text" id="restr' + i + '" name = "password " > </div></div>'
        var theDiv = document.getElementById("add_rest");
        var content = document.createElement('div');
        content.id = 'new_restr' + i;
        content.innerHTML = '<hr><label class="mt-3"> <h4>Please enter new restrictions:</h4> </label><span class="float-right mb-1 mt-1 btn btn-danger" onclick=delet("new_restr' + i + '")>Delete the entry</span> <div class = "input-group" ><input class = "form-control" placeholder="2x+2y+2z<=300" type = "text" id="restr' + i + '" name ="restr' + i + '"  > </div>';
        theDiv.appendChild(content);
    }

    function delet(id) {
        document.getElementById(id).innerHTML = ''
    }
</script>

</html>